body{
  font: 13pt Teko, verdana, sans-serif;
  margin: 0;
  background: #000000;
}
@font-face {
  font-family: 'Teko';
  src: url('/font/Teko-Bold.ttf') format('truetype'),
  url('font/Teko-Light.ttf') format('truetype'),
  url('font/Teko-Medium.ttf') format('truetype'),
  url('font/Teko-Regular.ttf') format('truetype'),
  url('font/Teko-Semibold.ttf') format('truetype');
  font-style: normal;
}

.main{
  background-color: #000000;
}
header{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/jaguar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header img{
  display: block;
  margin: auto;
  width: 30%;

}

header h1{
  font-size: 50pt;
  color: #ffffff;
}

.columna{
  position: relative;

  list-style: none;
  padding: 0%;
  background-color: rgba(9, 20, 7, 0.2);
}
.left{
  float: left!important;
}

.grid_item{
  float: left;
  margin: 4%;
  padding: 0;
  background-color: rgba(0, 221, 117, 0.21);
}
.grid_image{
  display: block;
  margin: 0;
}
.four-sixths{
  width: 66%;
  background: rgba(0, 221, 117, 0.21);
  display: block;
  margin: 10%;
}

.main h1{
  color: white;
}
.siguenos{
  color: white;
  padding: none;
  display: block;
  margin: auto;
}

.redes{
  display: block;
  margin: auto;
}
.iconoface img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: left;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconoinsta img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: left;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconoyou img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: right;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconowhat img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: right;
  filter: brightness(0) invert(1);
  color: #086424;
}
