html{
  scroll-behavior: smooth;
}
body{
  font: 13pt Teko, verdana, sans-serif;
  margin: 0;
  background: #000000;
}
@font-face {
  font-family: 'Teko';
  src: url('/font/Teko-Bold.ttf') format('truetype'),
  url('font/Teko-Light.ttf') format('truetype'),
  url('font/Teko-Medium.ttf') format('truetype'),
  url('font/Teko-Regular.ttf') format('truetype'),
  url('font/Teko-Semibold.ttf') format('truetype');
  font-style: normal;
}

.main{
  background-color: #000000;
}

header{
  top: 0%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/jaguar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guacamaya{
  top: 0%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/guacamaya.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quetzal{
  top: 0%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/quetzal.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aguila{
  top: 0%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/aguila.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emu{
  top: 0%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgba(81, 83, 100, 0.1),
    rgba(1, 1, 1,1)),
    url(../img/Emu.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header img{
  display: block;
  margin: auto;
  width: 30%;

}

header h1{
  font-size: 50pt;
  color: #ffffff;
}

.columna{
  position: relative;

  list-style: none;
  padding: 0%;
  background-color: rgba(9, 20, 7, 0.2);
}
.left{
  float: left!important;
}

.grid_item{
  float: left;
  margin: 4%;
  padding: 0;
  background-color: rgba(0, 221, 117, 0.21);
  border-radius: 5%;
}
.grid_image{
  display: block;
  margin: 0;
}
.four-sixths{
  width: 66%;
  background: rgba(0, 221, 117, 0.21);
  display: block;
  margin: 10%;
  border-radius: 2%;
}

.main h1{
  color: white;
}
.siguenos{
  color: white;
  padding: none;
  display: block;
  margin: auto;
}

.redes{
  display: block;
  margin: auto;
}
.iconoface img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: left;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconoinsta img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: left;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconoyou img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: right;
  filter: brightness(0) invert(1);
  color: #086424;
}

.iconowhat img{
  display: block;
  margin: 4%;
  height: 8%;
  width: 8%;
  float: right;
  filter: brightness(0) invert(1);
  color: #086424;
}

.der{
  animation: der 1s;
}

.iz{
  animation: izq 1.5s;
}
@keyframes izq {
  0%{
    transform: translateX(-500px);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes der {
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(0%);
  }
}


.menu a{
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg,#086424,#b6d43c);
}

span{
  position: absolute;
  background: #fff;
  transform: translate(-50% ,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%{
    width: 0px;
    height: 0px;
    opacity: .4;
  }
  100%{
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.topbtn{
  margin: 0;
  padding: 0;
  left: 85%;
  top: 80%;
  position:sticky;
  z-index: 1;

}

.fadeTop{
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.visible{
  opacity: 1;
  transform: translate(0,0);
}
